@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


body, html {
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: "Poppins", sans-serif
}

body * {
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    background: transparent;
    backdrop-filter: blur(22px);
}

.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    background: transparent;
    backdrop-filter: blur(22px);
}

.card-login > h1 {
    color: #ffffff;
    font-weight: 800;
    margin: 0;
    background: transparent;
    backdrop-filter: blur(22px);
}

.text-field {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(22px);
    

}

.text-field > input {
    width: 100%;
    border: none;
    border-radius: 15px;
    padding: 15px;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px -10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    padding-right: 38px;
    background: transparent;
    backdrop-filter: blur(22px);
}

.text-field > label {
    color: #f0ffffde;
    margin-bottom: 10px;
    background: transparent;
    backdrop-filter: blur(22px);
    

}

.text-field > input::placeholder {
    color: #f0ffff94;
}

#user-icon {
    display: flex;
    position: absolute;
    right: 6px;
    top: 52%;
    color: #cfcfcf;
    background: transparent;
    backdrop-filter: blur(22px);
}

#password-visivel {
    display: flex;
    position: absolute;
    right: 6px;
    top: 52%;
    color: #cfcfcf;
    cursor: pointer;
    background: transparent;
    backdrop-filter: blur(22px);
}

.btn-login {
    width: 100%;
    padding: 16px;
    margin: 25px;
    border: none;
    border-radius: 15px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #000000;
    background: #ffffff;
    cursor: pointer;
    position: relative;
    box-shadow: 0px -10px 40px #00000056;

}

.btn-login > a {
    background: transparent;
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.btn-login:hover {
    box-shadow: 0px -10px 30px #59025c46;
}


.text-singup {
        justify-content: center;
        text-align: center;
        color: #f0ffffde;
        background: transparent;
    }

.text-singup > a {
    color: #ffffff;
    text-decoration: none;
    background: transparent;
    font-weight: bold;
}

.text-singup > a:hover{
    text-shadow: 0.3px 0.2px 3px #ab77ff;
    text-decoration: underline;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .login {
        width: 100%;
        height: auto;
    }

    .card-login {
        width: 90%;
    }
}

@media screen and (min-width: 2560px) {
    .login p {
        font-size: 14pt; 
    };
}
